/*****************************/
/* Header*/
/*****************************/
.header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      background-color: #e7eaed;
      height: 9.6rem;
      padding: 0 4.8rem;
}

.logo {
      height: 2.8rem;

}


/*****************************/
/* Navigation*/
/*****************************/

.main-nav-list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 3.2rem;
      font-family: 'Eczar', serif;
}

.main-nav-link:link,
.main-nav-link:visited {
      display: inline-block;
      text-decoration: none;
      color: #112A46;
      font-weight: 600;
      font-size: 1.8rem;
      transition: all 0.5s;
}

.main-nav-link:hover,
.main-nav-link:active {
      color: #07111c;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
      padding: 1.2rem 2.4em;
      color: #fff;
      border-radius: 2px;
      background-color: #112A46;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
      background-color: #07111c;
      text-decoration: none;
}

/*****************************/
/* Hero Section*/
/*****************************/
.hero-section {

      background-color: #e7eaed;
      padding: 4.8rem 0 9.6rem 0;

}

.hero {
      max-width: 160rem;
      margin: 0 auto;
      padding: 0 3.2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 9.6rem;
      align-items: center;
}

.hero-img {
      width: 100%;
}



.hero-description {
      font-size: 2rem;
      line-height: 1.5;
      margin-bottom: 4.8rem;

}



.delivered-suits {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      margin-top: 8rem;
}

.delivered-imgs {
      display: flex;
}

.delivered-imgs img {
      height: 4.8rem;
      width: 4.8rem;
      border-radius: 50%;
      margin-right: -1.6rem;
      border: 3px solid #e7eaed;
}

.delivered-imgs img:last-child {
      margin-right: 0;
}

.delivered-text {
      font-size: 1.8rem;
      font-weight: 700;
}

.delivered-text span {
      color: #07111c;
      font-family: sans-serif;
      font-weight: 800;

}

/*****************************/
/* Gallery In Section */
/*****************************/
.section-gallery {
      padding: 4.8rem 0 3.2rem 0;
}

.gallery-heading {
      padding: 2.4rem 9.6rem 0 9.6rem;
}

.grid--gallery {
      gap: 1.6rem;
}

.gallery-img {
      height: 60rem;
      background-size: cover;
      background-position: center;
      transition: all 0.3s;
      position: relative;
      filter: brightness(.8);
}

.gallery-tial {
      display: inline-block;
      margin: 10px;
      text-align: left;
      opacity: .99;
      overflow: hidden;
      position: relative;
      border-radius: 3px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.grid-tial-btn {
      gap: 2.4rem;
}

.gallery-tial:before {
      content: '';
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
      width: 100%;
      height: 50%;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 2;
      transition-property: top, opacity;
      transition-duration: 0.3s;
}

.gallery-tial img {
      display: block;
      max-width: 100%;
      backface-visibility: hidden;
}

.gallery-tial .details {
      font-size: 16px;
      padding: 20px;
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 3;
}

.gallery-btn {
      position: absolute;
      bottom: 25%;
      right: 0;
      z-index: 3;

}

.gallery-btn .btn {
      font-size: 2.4rem;
      border-radius: 2px;
}

.gallery-tial .details span {
      display: block;
      opacity: 0;
      position: relative;
      top: 100px;
      transition-property: top, opacity;
      transition-duration: 0.3s;
      transition-delay: 0s;
}

.gallery-tial .details .title {
      line-height: 1;
      font-weight: 600;
      font-size: 2.4rem;
}

.gallery-tial .details .info {
      line-height: 1.5;
      margin-top: 5px;
      font-size: 1.6rem;
}

.gallery-tial:focus:before,
.gallery-tial:focus span,
.gallery-tial:hover:before,
.gallery-tial:hover span {
      opacity: 1;
}

.gallery-tial:focus:before,
.gallery-tial:hover:before {
      top: 50%;
}

.gallery-tial:focus span,
.gallery-tial:hover span {
      top: 0;
}

.gallery-tial:focus .title,
.gallery-tial:hover .title {
      transition-delay: 0.15s;
}

.gallery-tial:focus .info,
.gallery-tial:hover .info {
      transition-delay: 0.25s;
}


.gallery-tial:nth-child(1) .gallery-img {
      background-image: url(../img/gallery/gallery--1.png);
}

.gallery-tial:nth-child(2) .gallery-img {
      background-image: url(../img/gallery/gallery--2.png);
}

.gallery-tial:nth-child(3) .gallery-img {
      background-image: url(../img/gallery/gallery--3.png);
}

.gallery-tial:nth-child(4) .gallery-img {
      background-image: url(../img/gallery/gallery--4.png);
}


/*****************************/
/* Featured In Section */
/*****************************/
.section-feature {
      padding: 4.8rem 0 2.4rem 0;
}

.heading-featured-in {
      font-family: 'Rubik', sans-serif;
      font-size: 1.4rem;
      text-decoration: uppercase;
      letter-spacing: 0.75px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 2.4rem;
      color: #07111c;
}

.logos {
      display: flex;
      justify-content: space-around;

}

.logos img {
      height: 3.2rem;
      filter: brightness(0);
      opacity: 50%;
      transition: all 1s;
}

.logos img:hover,
.logos img:visited {
      filter: brightness(100%);
      opacity: 100%;
}


/*****************************/
/* How it works section*/
/*****************************/

.section-how {
      padding: 9.6rem 0;
}

.step-number {
      display: inline-block;
      font-size: 8.6rem;
      font-weight: 600;
      color: #414445;
      transition: all 0.5s;
      margin-bottom: 1.2rem;
}

.step-number:hover {
      color: #07111c;
}

.step-description {
      font-size: 2rem;
      line-height: 1.8;
}

.step-img-box {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
      content: "";
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.step-img-box::after {
      width: 45%;
      padding-bottom: 45%;
      background-color: #586a7e;
      z-index: -1;
}

.step-img-box::before {
      width: 60%;
      padding-bottom: 60%;
      background-color: #e7eaed;
      z-index: -2;
}

.step-img {
      width: 35%;
}

.step-box {
      margin-bottom: 9.6rem;
}

/*****************************/
/* Cards section*/
/*****************************/

.section-cards {
      padding: 9.6rem 0 9.6rem 0;
      background-color: #e7eaed;

}

.card-sec {
      column-gap: 9.6rem;
}

.card-text {
      gap: 2.4rem;
      padding: 1.6rem 0;
      margin: 0 1.6rem;
}

.card-text .btn:visited,
.card-text .btn:link {
      padding: 1.2rem 2.4rem;
      margin: 0 auto 0 0;
}

.card-img {
      width: 100%;
      margin-bottom: 1.6rem;
}

.card-descreption {
      font-size: 1.6rem;
      color: #414445;
      font-weight: 500;
      padding-left: 0.8rem;
      line-height: 1.5;
}

.heading-cards {
      font-size: 2.6rem;
      transition: all 0.5s;
}

.section-cards .btn {
      font-size: 1.6rem;
}

/*****************************/
/* Testimonials section*/
/*****************************/

.section-tesiomnials {
      background-color: #e7eaed;
      display: grid;
      grid-template-columns: 60fr 40fr;
      align-items: center;
}

.testimonials {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 4.8rem;
      column-gap: 8rem;

}

.testimonial-container {
      padding: 9.6rem 9.6rem 9.6rem;
}

.testimonial-img {
      width: 6.4rem;
      border-radius: 50%;
      margin-bottom: 1.2rem;
}

.testimonial-text {
      font-size: 1.8rem;
      line-height: 1.8;
      margin-bottom: 1.6rem;
      font-weight: 500;
}

.testimonial-name {
      font-size: 1.6rem;
      color: #586a7e;
}

.gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.6rem;
      padding: 1.6rem;
}

.gallery-item {
      overflow: hidden;
}

.gallery-item img {
      display: block;
      width: 100%;
      transition: all 0.4s;
}

.gallery-item img:hover {
      transform: scale(1.15);
}


/*****************************/
/* Contact Us section*/
/*****************************/

.section-contacts {
      padding: 8.6rem 0 8.6rem 0;
      background-color: #e7eaed;
}

.contact-list {
      display: grid;
      grid-template-rows: 1fr auto auto;
      text-align: center;
      justify-items: center;
      column-gap: 6.4rem;
      list-style: none;
      gap: 0.8rem;
}


.heading-contact {
      font-family: 'Rubik', sans-serif;
      font-size: 2.4rem;
}

.heading-contact a:link,
.heading-contact a:visited {
      text-decoration: none;
      color: #07111c;
      font-weight: 600;
}

.contact-description {
      font-size: 1.6rem;
      font-family: 'Eczar', serif;
}

.contact-icon {
      font-size: 3.2rem;
      color: #07111c;
      font-weight: 700;
      background-color: #e7eaed;
      padding: 1rem;
      border-radius: 50%;
}

/*****************************/
/* CTA section*/
/*****************************/

.section-cta {
      padding: 9.6rem 0;
      max-width: 120rem;
      margin: 0 auto;
}

.cta {
      display: grid;
      background-color: #112A46;
      grid-template-columns: 2fr 1fr;
      box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
      border-radius: 2px;
      overflow: hidden;
      background-image: linear-gradient(135deg, #a0aab5, #cfd4daa9);
}

.cta-text-box {
      color: #07111c;
      padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta-text {
      font-size: 1.8rem;
      line-height: 1.8;
      margin-bottom: 4.8rem;
}

.cta-text-box h2 {
      font-size: 3.6rem;
      line-height: 1.2;
      margin-bottom: 3rem;
      margin-bottom: 3.2rem;
}

.cta-img-box {
      background-image: linear-gradient(135deg, rgba(7, 17, 28, 0.363), rgba(65, 85, 107, 0.082)), url('../img/suiting.png');
      background-size: cover;
      background-position: center;
}

.cta-form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 3.2rem;
      row-gap: 2.4rem;

}

.cta-form label {
      display: block;
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
      width: 100%;
      padding: 1.2rem;
      font-size: 1.8rem;
      font-family: inherit;
      color: inherit;
      border: none;
      background-color: #e7eaed;
      border-radius: 2px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
      color: #aaa;
}

.cta-form button {
      font-family: inherit;
}

.cta *:focus {
      outline: none;
      /* outline: 4px dotted #112A46;
      outline-offset: 8px; */
      box-shadow: 0 0 0 0.8rem rgba(231, 234, 237, 0.5);
}

/*****************************/
/* Footer */
/*****************************/

.footer {
      padding: 12.8rem 0;
      border-top: 1px solid #eee;
}

.grid--footer {
      grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.footer-logo {
      display: block;
      margin-bottom: 3.2rem;
}

.social-links {
      list-style: none;
      display: flex;
      gap: 1.6rem;
}

.social-icon {
      height: 2.4rem;
      width: 2.4rem;
}

.copyright {
      font-size: 1.4rem;
      line-height: 1.6;
      color: #767676;
      margin-top: auto;
}

.footer-heading {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 4rem;
}

.contacts {
      font-style: normal;
      font-size: 1.6rem;
      line-height: 1.6;
}

.address {
      margin-bottom: 2.4rem;
}

.footer-nav {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
      text-decoration: none;
      font-size: 1.46rem;
      color: #767676;
      transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
      color: #555;
}